{
    "botToken": "",
    "perspective": "",
    "openai": "",
    "MySQL": {
        "host": "",
        "user": "",
        "password": "",
        "database": ""
    },
    "NTFY": {
	"host": "",
	"topic": ""
	}
}
